<!DOCTYPE html>
<html>
<head>
  <title>{{video[1]}}</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <a href="/" class="back-btn">← Back</a>
  <h1>{{video[1]}}</h1>
  <video src="/static/uploads/{{video[2]}}" controls width="600"></video>
  <p>{{video[3]}} views</p>
  <h2>Admin Upload</h2>
<form method="POST" action="/upload" enctype="multipart/form-data">
  <input type="file" name="video" accept="video/mp4" required>
  <input type="password" name="password" placeholder="Admin Password" required>
  <button type="submit">Upload</button>
</form> 
</body>
</html>